
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background: linear-gradient(-90deg, #fadcf5, #f5fadc);
      }
      
      .container {
        background: #b5f5ec;
        margin: 80px auto;
        max-width: 60vw;
        box-shadow: 0px 0px 0px 6px #36cfc9;
      }
      
      .title {
        padding-top: 40px;
        font-size: 40px;
        font-family: Marker Felt, fantasy;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      }
      
      .addToDo {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      .addButton {
        cursor: pointer;
        margin-bottom: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        padding-top: 10px;
        border-radius: 20px;
        box-shadow: 0 4px 8px 0 rgba(21, 41, 53, 0.32);
        background-image: linear-gradient(315deg, #00c3ea, #00474f);
      }
      
      .red {
        background-image: linear-gradient(315deg, #ff7875, #820014);
      }
      
      .inputStyle {
        margin: 20px 0;
        width: 70%;
        font-family: Marker Felt, fantasy;
        display: flex;
        flex-direction: row;
      }
      
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      