
    body {
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: rgb(255, 227, 227) !important;
      }
      
      .container {
        margin: 80px auto;
        max-width: 60vw;
      }
      
      .title {
        font-size: 4rem;
        font-family: "Caladea", serif;
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        margin-bottom: 10px;
      }
      .sub{
          padding-top: 10px;
        font-size: 20px;
      }
      
      .addToDo {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      
      
      .inputStyle {
        margin: 20px 0;
        width: 70%;
        font-family: "Caladea", serif;
        display: flex;
        flex-direction: row;
      }
      
      .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .customizedCheck {
        opacity: 0.6;
        cursor: pointer;
        width: 30px;
        height: 15px;
        width: 20px;
        height: 20px;
        margin: 10px;
    }

    .customizedCheck:checked{
        filter: hue-rotate(
            364deg
            );
    }

    .customizedCheck:hover {
        opacity: 1;
        }

       
      